
@{
    ViewBag.Title = "_Header";
}

<header class="container-fluid bg-white">
    <div class="header-top bg-gray  border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="d-inline-flex pt-0 pt-md-2 fs-6">
                        <li class="p-2 "><i class="bi bi-envelope"></i> Support@TI-217</li>
                        <li class="p-2 d-none d-md-block"><i class="bi bi-headphones"></i> +987 676 7676 676</li>
                    </ul>
                </div>
                <div class="col-md-4 d-flex align-items-end">
                    <ul class="ms-auto d-inline-flex">
                        <li class="p-2"><a href="/login"><button class="btn px-4 btn-danger">Вход</button></a></li>
                        <li class="p-2"><a href="/signup"><button class="btn px-4 btn-outline-danger">Регистрация</button></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="logo-contaienr p-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-9 pt-1 pb-2">
                    <a href="/">
                        <img class="logo" src="~/Content/images/logo.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-6 d-none d-md-block pt-2">
                    <div class="input-group pt-1 mb-0">
                        <input type="text" class="form-control border-end-0 mb-0" placeholder="Search Apps" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-text sit border-start-0" id="basic-addon2"><i class="bi bi-search"></i></span>
                    </div>
                </div>
                <div class="col-md-3 col-3 pt-1 text-end">
                    <a href="/Cart">
                        <button type="button" class="btn btn-light shadow-md border position-relative">
                            <i class="bi fs-4 bi-basket"></i>
                            <span class="position-absolute fs-6 top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                2

                            </span>
                        </button>
                    </a>
                    <a href="/Featured">
                        <button type="button" class="btn d-none d-md-inline-block ms-3 btn-light shadow-md border position-relative">
                            <i class="bi fs-4 bi-heart"></i>
                            <span class="position-absolute fs-6 top-0 start-100 translate-middle badge rounded-pill bg-warning">
                                2

                            </span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-bar bg-danger container-fluid border-top">
        <div class="container">
            <h6 class="d-md-none text-white p-3 mb-0 fw-bold">
                Menu
                <a class="text-white" data-bs-target="#menu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="menu"><i class="bi cp bi-list float-end fs-1 dmji"></i></a>
            </h6>
            <ul id="menu" class=" navcol fw-bold d-none d-md-inline-flex">
                <li class="p-21 px-4"><a class="text-white" href="/">Домашняя страница</a> </li>
                <li class="p-21 px-4"><a class="text-white" href="/Catalog">Каталог товаров</a> </li>
                <li class="p-21 px-4"><a class="text-white" href="/About">О нас</a> </li>
            </ul>
        </div>
    </div>
</header>

