
@{
    ViewBag.Title = "SignUp";
}

<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2 class="text-start">Регистрация</h2>
            <ul>
                <li> <a href="/"><i class="bi bi-house-door"></i> Домашняя страница</a></li>
                <li><i class="bi bi-chevron-double-right pe-2"></i> Регистрация</li>
            </ul>
        </div>
    </div>
</div>


<!--####################### About US Starts Here ###################-->
<div class="container-fluid big-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-10 py-5 mx-auto">
                <div class="login-card bg-white shadow-md p-5">
                    <h4 class="text-center mb-5">Введите данные для регистрации</h4>
                    <div class="form-row row">
                        <div class="col-md-4 pt-2">
                            <label for="">ФИО</label>
                            <span class="fw-bolder float-end">:</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" placeholder="Введите ФИО" class="form-control">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-md-4 pt-2">
                            <label for="">Номер телефона</label>
                            <span class="fw-bolder float-end">:</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" placeholder="Введите номер телефона" class="form-control">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-md-4 pt-2">
                            <label for="">E-mail адрес</label>
                            <span class="fw-bolder float-end">:</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" placeholder="Введите E-mail адрес" class="form-control">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-md-4 pt-2">
                            <label for="">Пароль</label>
                            <span class="fw-bolder float-end">:</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" placeholder="Введите пароль" class="form-control">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-md-4 pt-2">
                            <label for="">Подтверждение</label>
                            <span class="fw-bolder float-end">:</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" placeholder="Введите пароль еще раз" class="form-control">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-md-4 pt-2">

                        </div>
                        <div class="col-md-8">
                            <button class="btn btn-danger">Зарегистрироваться</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

