
@{
    ViewBag.Title = "Tokyo Revengers Chifuyu Matsuno Portrait";
}

<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2 class="text-start">Tokyo Revengers Chifuyu Matsuno Portrait Acrylic Key Chain</h2>
            <ul>
                <li> <a href="/"><i class="bi bi-house-door"></i> Home</a></li>
                <li><a href="/Catalog"><i class="bi bi-chevron-double-right pe-2"></i> Products</a></li>
                <li><i class="bi bi-chevron-double-right pe-2"></i> Tokyo Revengers Chifuyu Matsuno Portrait Acrylic Key Chain</li>
            </ul>
        </div>
    </div>
</div>


<!--####################### Product Detail Starts Here ###################-->
<div class="container-fluid big-padding bg-white about-cover">
    <div class="container">
        <div class="row about-row">
            <div class="col-md-5 text-center">
                <img src="~/Content/images/p1.jpg" alt="">
            </div>
            <div class="col-md-7">
                <h2>Tokyo Revengers Chifuyu Matsuno Portrait Acrylic Key Chain</h2>
                <p>Акриловая цепочка для ключей Tokyo Revengers Chifuyu Matsuno Portrait — обязательный аксессуар для любого поклонника популярного аниме и манги Tokyo Revengers. На этом брелке изображен акриловый портрет Чифую Мацуно, одного из главных героев шоу, который обязательно привлечет внимание любого, кто его увидит.</p>
                <b class="fs-3 py-4 text-danger">$10.00</b>
                <span class="fs-5 ps-3">14.00</span>
                <ul class="mt-0 mt-2 mb-3 vgth">
                    <li class="fs-8">
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <span>4,2</span>
                    </li>
                    <li class="float-end gvi">
                        <i class="bi text-danger bi-heart-fill"></i>
                    </li>
                </ul>
                <ul class="key-features mt-2">
                    <li><i class="bi bi-caret-right"></i> Newly Added</li>
                    <li><i class="bi bi-caret-right"></i> Well Packed</li>
                    <li><i class="bi bi-caret-right"></i> Timely Delivery</li>
                </ul>
            </div>
        </div>
        <div class="row product-detail">
            <h4>О продукте</h4>
            <p class="mb-3">Этот брелок, изготовленный из высококачественных материалов, прослужит долго и выдержит ежедневное использование. Акриловый материал прочный, но легкий, что позволяет легко носить его с собой в кармане, сумочке или рюкзаке, не утяжеляя вас. Цепочка для ключей также поставляется с прочным металлическим кольцом, которое можно легко прикрепить к вашим ключам, шнуркам или сумкам, гарантируя, что вы больше никогда не потеряете свои ключи.</p>
            <p class="mb-3">Этот брелок размером примерно 2,5 дюйма в высоту и 1,5 дюйма в ширину идеально подходит для того, чтобы продемонстрировать свою любовь к аниме и манге Tokyo Revengers. Сложные детали портрета Чифую Мацуно делают его настоящим произведением искусства, передающим сущность и индивидуальность персонажа.</p>
            <p class="mb-3">Являетесь ли вы коллекционером товаров Tokyo Revengers или просто поклонником персонажа Чифую Мацуно, этот брелок станет отличным дополнением к вашей коллекции. Это также отличный подарок для любого поклонника Tokyo Revengers в вашей жизни, поскольку это уникальный и запоминающийся аксессуар, который они будут ценить долгие годы.</p>
        </div>
        <div class="row review">
            <div class="col-md-8">
                <h4>Отзывы</h4>
                <div class="row m-0 reviewrow p-3 px-0 border-bottom">
                    <div class="col-md-12 align-items-center col-9 rcolm">
                        <div class="review">
                            <li class="col-8 ratfac">
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </li>
                        </div>
                        <h3 class="fs-6 fw-semi mt-2">
                            Марк-Августин Степаненко

                            <small class="float-end fw-normal"> 2 Декабря 2022 </small>
                        </h3>

                        <div class="review-text">
                            Мне очень нравится мой брелок Chifuyu Matsuno! Качество фантастическое, а портрет такой детализированный и яркий. Это идеальный аксессуар для любого фаната Tokyo Revengers, такого как я
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>

                <div class="row m-0 reviewrow p-3 px-0 border-bottom">
                    <div class="col-md-12 align-items-center col-9 rcolm">
                        <div class="review">
                            <li class="col-8 ratfac">
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                            </li>
                        </div>
                        <h3 class="fs-6 fw-semi mt-2">
                            Артем Порческу

                            <small class="float-end fw-normal"> 10 Апреля 2022 </small>
                        </h3>

                        <div class="review-text">
                            Эта цепочка для ключей — прекрасное дополнение к моей коллекции товаров Tokyo Revengers. Акриловый материал на ощупь прочный, а металлическое кольцо — надежное. Портрет Чифую Мацуно точно на месте и отлично смотрится на моих ключах
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>

                <div class="row m-0 reviewrow px-0">
                    <div class="col-md-12 align-items-center col-9 rcolm">
                        <div class="review">
                            <li class="col-8 ratfac">
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </li>
                        </div>
                        <h3 class="fs-6 fw-semi mt-2">
                            Павел Рогалин

                            <small class="float-end fw-normal"> 21 Апреля 2022 </small>
                        </h3>

                        <div class="review-text">
                            Я купил это в подарок для моей подруги, которая является большим поклонником «Токийских мстителей», и ей это очень понравилось! Портрет Чифую Мацуно так хорошо сделан, а сама цепочка для ключей высокого качества. Я очень рекомендую этот продукт всем. Поклонник Tokyo Revengers ищет уникальный и запоминающийся аксессуар
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


