
@{
    ViewBag.Title = "Chainsaw Man 8'' Pochita Sitting Plush Toy";
}

<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2 class="text-start">Chainsaw Man 8'' Pochita Sitting Plush Toy</h2>
            <ul>
                <li> <a href="/"><i class="bi bi-house-door"></i> Home</a></li>
                <li><a href="/Catalog"><i class="bi bi-chevron-double-right pe-2"></i> Products</a></li>
                <li><i class="bi bi-chevron-double-right pe-2"></i> Chainsaw Man 8'' Pochita Sitting Plush Toy</li>
            </ul>
        </div>
    </div>
</div>


<!--####################### Product Detail Starts Here ###################-->
<div class="container-fluid big-padding bg-white about-cover">
    <div class="container">
        <div class="row about-row">
            <div class="col-md-5 text-center">
                <img src="~/Content/images/p2.jpg" alt="">
            </div>
            <div class="col-md-7">
                <h2>Chainsaw Man 8'' Pochita Sitting Plush Toy</h2>
                <p>Chainsaw Man 8'' Pochita Sitting Plush Toy - это мягкая игрушка в виде Почиты из популярного японского манга-сериала Chainsaw Man. Высотой 8 дюймов, она выполнена из мягкого плюша высокого качества и сможет украсить любой дом или рабочее место, а также стать прекрасным подарком для поклонников манги.</p>
                <b class="fs-3 py-4 text-danger">$22.00</b>
                <span class="fs-5 ps-3">25.00</span>
                <ul class="mt-0 mt-2 mb-3 vgth">
                    <li class="fs-8">
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <span>4,2</span>
                    </li>
                    <li class="float-end gvi">
                        <i class="bi text-danger bi-heart-fill"></i>
                    </li>
                </ul>
                <ul class="key-features mt-2">
                    <li><i class="bi bi-caret-right"></i> Newly Added</li>
                    <li><i class="bi bi-caret-right"></i> Well Packed</li>
                </ul>
            </div>
        </div>
        <div class="row product-detail">
            <h4>О продукте</h4>
            <p class="mb-3">Плюшевая игрушка Chainsaw Man 8'' Pochita Sitting Plush Toy детально воссоздает образ Почиты - духа пилы, который является одним из главных персонажей манги. Игрушка имеет яркие цвета и милый дизайн, который точно понравится как детям, так и взрослым поклонникам сериала.</p>
            <p class="mb-3">Игрушка выполнена из мягкого плюша, что делает ее безопасной для игр и обниманий, и отлично подходит для любого возраста. Она также легко моется вручную при необходимости. В комплекте с игрушкой идет оригинальная упаковка, что делает ее отличным подарком для поклонников манги.</p>
        </div>
        <div class="row review">
            <div class="col-md-8">
                <h4>Отзывы</h4>
                <div class="row m-0 reviewrow p-3 px-0 border-bottom">
                    <div class="col-md-12 align-items-center col-9 rcolm">
                        <div class="review">
                            <li class="col-8 ratfac">
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </li>
                        </div>
                        <h3 class="fs-6 fw-semi mt-2">
                            Артем Порческу

                            <small class="float-end fw-normal"> 1 Января 2022 </small>
                        </h3>

                        <div class="review-text">
                            Эта мягкая игрушка Chainsaw Man 8'' Pochita Sitting Plush Toy настоящее милое чудо! Качество изготовления высокое, и мне очень понравилась оригинальная упаковка. Я даже не могу представить, насколько она порадует моего друга, фаната сериала.
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>

                <div class="row m-0 reviewrow p-3 px-0 border-bottom">
                    <div class="col-md-12 align-items-center col-9 rcolm">
                        <div class="review">
                            <li class="col-8 ratfac">
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi bi text-warning bi-star-fill"></i>
                                <i class="bi bi text-warning bi-star-fill"></i>
                            </li>
                        </div>
                        <h3 class="fs-6 fw-semi mt-2">
                            Дмитрий Василиу

                            <small class="float-end fw-normal"> 11 Сентября 2021 </small>
                        </h3>

                        <div class="review-text">
                            Я заказал эту игрушку как подарок своему брату на день рождения, и он был в восторге от нее. Игрушка мягкая и приятная на ощупь, а образ Почиты действительно выглядит очень милым и забавным. Рекомендую!
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>

                <div class="row m-0 reviewrow px-0">
                    <div class="col-md-12 align-items-center col-9 rcolm">
                        <div class="review">
                            <li class="col-8 ratfac">
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi bi text-warning bi-star-fill"></i>
                                <i class="bi bi text-warning bi-star-fill"></i>
                            </li>
                        </div>
                        <h3 class="fs-6 fw-semi mt-2">
                            Павел Рогалин

                            <small class="float-end fw-normal"> 28 Июля 2021 </small>
                        </h3>

                        <div class="review-text">
                            Я недавно начал смотреть Chainsaw Man и сразу же влюбился в Почиту. Когда я увидел эту игрушку, я сразу же заказал ее и не могу перестать ею наслаждаться. Она настолько мягкая и приятная на ощупь, и ее детальность просто потрясающая. Это лучшая игрушка, которую я когда-либо покупал!
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


