@{
    ViewBag.Title = "About";
}
    <!--####################### About US Starts Here ###################-->
    <div class="container-fluid big-padding about-cover">
        <div class="container">
            <div class="row about-row">
                <div class="col-md-6 no-padding image">
                    <img src="~/Content/images/About.jpg" alt="">
                </div>
                <div class="col-md-6 detail ps-4 ">
                    <h2>О нашем магазине</h2>
                    <p>
                        Добро пожаловать в наш интернет-магазин аксессуаров из аниме! Мы специализируемся на предоставлении широкого выбора аксессуаров для поклонников аниме со всего мира.
                    </p><br>
                    <p>Наша миссия заключается в том, чтобы помочь вам выразить свою любовь и страсть к вашим любимым аниме-сериалам через наши уникальные и качественные продукты. Мы гордимся тем, что наш ассортимент продуктов обеспечивает разнообразие для всех, включая фанатов как старых, так и новых аниме-сериалов.</p>
                    <br /><p>Наш магазин предлагает широкий выбор аксессуаров, таких как фигурки, ключницы, одежда, посуда, рюкзаки и многое другое. Мы работаем только с производителями высокого качества, чтобы убедиться, что все продукты, которые мы предлагаем, являются подлинными и соответствуют нашим высоким стандартам.</p>
                    <br /><p>Кроме того, наша команда профессиональных и дружелюбных сотрудников всегда готова помочь вам с любыми вопросами или запросами. Мы гарантируем, что вы будете удовлетворены нашими продуктами и услугами.</p>
                    <br /><p>Мы благодарим вас за выбор нашего магазина и надеемся, что вы насладитесь своим опытом покупок у нас!</p>
                </div>
            </div>
        </div>
    </div>
