
@{
    ViewBag.Title = "Attack on Titan Jean Coffee Mug Cup";
}

<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2 class="text-start">Attack on Titan Jean Coffee Mug Cup</h2>
            <ul>
                <li> <a href="/"><i class="bi bi-house-door"></i> Home</a></li>
                <li><a href="/Catalog"><i class="bi bi-chevron-double-right pe-2"></i> Products</a></li>
                <li><i class="bi bi-chevron-double-right pe-2"></i> Attack on Titan Jean Coffee Mug Cup</li>
            </ul>
        </div>
    </div>
</div>


<!--####################### Product Detail Starts Here ###################-->
<div class="container-fluid big-padding bg-white about-cover">
    <div class="container">
        <div class="row about-row">
            <div class="col-md-5 text-center">
                <img src="~/Content/images/p3.jpg" alt="">
            </div>
            <div class="col-md-7">
                <h2>Attack on Titan Jean Coffee Mug Cup</h2>
                <p>Кофейная чашка Attack on Titan Jean — идеальное дополнение к вашей коллекции для любого поклонника популярного аниме и манги «Атака титанов». На кружке изображено культовое изображение Джин Кирштейн, одного из главных героев сериала, на фоне эмблемы Скаутского полка.</p>
                <b class="fs-3 py-4 text-danger">$11.00</b>
                <span class="fs-5 ps-3">14.00</span>
                <ul class="mt-0 mt-2 mb-3 vgth">
                    <li class="fs-8">
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <span>4,2</span>
                    </li>
                    <li class="float-end gvi">
                        <i class="bi text-danger bi-heart-fill"></i>
                    </li>
                </ul>
                <ul class="key-features mt-2">
                    <li><i class="bi bi-caret-right"></i> Newly Added</li>
                    <li><i class="bi bi-caret-right"></i> Timely Delivery</li>
                </ul>
            </div>
        </div>
        <div class="row product-detail">
            <h4>О продукте</h4>
            <p class="mb-3">Эта кружка изготовлена ​​из высококачественного керамического материала и вмещает до 11 унций вашего любимого напитка. Большая ручка обеспечивает удобный захват, а глянцевая поверхность кружки придает ей гладкий и стильный вид, который будет выделяться на любом журнальном столике или офисном столе.</p>
            <p class="mb-3">Начинаете ли вы свой день с чашки горячего кофе или расслабляетесь вечером за чашкой чая, эта кружка станет идеальным сосудом для вашего любимого напитка. А благодаря прочной конструкции и дизайну, который можно мыть в посудомоечной машине, его легко чистить и обслуживать для повседневного использования.</p>
        </div>
        <div class="row review">
            <div class="col-md-8">
                <h4>Отзывы</h4>
                <div class="row m-0 reviewrow p-3 px-0 border-bottom">
                    <div class="col-md-12 align-items-center col-9 rcolm">
                        <div class="review">
                            <li class="col-8 ratfac">
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </li>
                        </div>
                        <h3 class="fs-6 fw-semi mt-2">
                            Павел Рогалин

                            <small class="float-end fw-normal"> 22 Октября 2022 </small>
                        </h3>

                        <div class="review-text">
                            Я большой поклонник «Атаки Титанов», поэтому я должен был получить эту кружку, как только я ее увидел. Изображение Джин на лицевой стороне действительно хорошо сделано, а качество самой кружки первоклассное. Она стала моей любимой кружкой для утреннего кофе
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>

                <div class="row m-0 reviewrow p-3 px-0 border-bottom">
                    <div class="col-md-12 align-items-center col-9 rcolm">
                        <div class="review">
                            <li class="col-8 ratfac">
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </li>
                        </div>
                        <h3 class="fs-6 fw-semi mt-2">
                            Дмитрий Василиу

                            <small class="float-end fw-normal"> 29 Декабря 2021 </small>
                        </h3>

                        <div class="review-text">
                            Я получил эту кружку в подарок для моей подруги, которая является большой поклонницей сериала, и ей она очень нравится. Она отлично подходит для чашки кофе или чая, а изображение на лицевой стороне действительно впечатляет. подумываю о том, чтобы получить его для себя сейчас!
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>

                <div class="row m-0 reviewrow px-0">
                    <div class="col-md-12 align-items-center col-9 rcolm">
                        <div class="review">
                            <li class="col-8 ratfac">
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </li>
                        </div>
                        <h3 class="fs-6 fw-semi mt-2">
                            Марк-Августин Степаненко

                            <small class="float-end fw-normal"> 2 Июня 2022 </small>
                        </h3>

                        <div class="review-text">
                            Эта кружка великолепна! Отличный дизайн, и сама кружка действительно высокого качества. Она стала моей новой любимой кружкой для утреннего кофе. Я очень рекомендую ее всем поклонникам «Атаки Титанов»
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



