
@{
    ViewBag.Title = "Avatar the Last Airbender 6'' Aang Plush Doll";
}

<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2 class="text-start">Avatar the Last Airbender 6'' Aang Plush Doll</h2>
            <ul>
                <li> <a href="/"><i class="bi bi-house-door"></i> Home</a></li>
                <li><a href="/Catalog"><i class="bi bi-chevron-double-right pe-2"></i> Products</a></li>
                <li><i class="bi bi-chevron-double-right pe-2"></i> Avatar the Last Airbender 6'' Aang Plush Doll</li>
            </ul>
        </div>
    </div>
</div>


<!--####################### Product Detail Starts Here ###################-->
<div class="container-fluid big-padding bg-white about-cover">
    <div class="container">
        <div class="row about-row">
            <div class="col-md-5 text-center">
                <img src="~/Content/images/p4.jpg" alt="">
            </div>
            <div class="col-md-7">
                <h2>Avatar the Last Airbender 6'' Aang Plush Doll</h2>
                <p>6-дюймовая плюшевая кукла Аанг «Аватар: легенда об Аанге» обязательно должна быть у любого фаната популярного мультсериала «Аватар: Маг об Аанге». Эта высококачественная плюшевая игрушка изготовлена ​​из мягких и прочных материалов, что делает ее удобной и долговечной.</p>
                <b class="fs-3 py-4 text-danger">$19.00</b>
                <span class="fs-5 ps-3">23.00</span>
                <ul class="mt-0 mt-2 mb-3 vgth">
                    <li class="fs-8">
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi text-warning bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <span>4,2</span>
                    </li>
                    <li class="float-end gvi">
                        <i class="bi text-danger bi-heart-fill"></i>
                    </li>
                </ul>
                <ul class="key-features mt-2">
                    <li><i class="bi bi-caret-right"></i> Well Packed</li>
                    <li><i class="bi bi-caret-right"></i> Timely Delivery</li>
                </ul>
            </div>
        </div>
        <div class="row product-detail">
            <h4>О продукте</h4>
            <p class="mb-3">Эта плюшевая кукла Аанг высотой 6 дюймов идеально подходит для того, чтобы ее можно было обнимать, ставить на рабочий стол или брать с собой куда угодно. Внимание к деталям на этой плюшевой игрушке исключительное, от замысловатой вышивки на его одежде до детализации его культовой татуировки со стрелой.</p>
            <p class="mb-3">Эту плюшевую куклу Аанг также невероятно легко чистить и обслуживать, что делает ее прекрасным дополнением к любой коллекции игрушек. Плюшевый материал можно стирать в стиральной машине, что гарантирует его чистоту и свежесть с минимальными усилиями.</p>
            <p class="mb-3">Но эта плюшевая кукла — не просто игрушка, это еще и прекрасный предмет коллекционирования. Внимание к деталям, качественные материалы и очаровательный дизайн делают его выдающимся изделием, которое любой поклонник с гордостью пополнит своей коллекцией.</p>
            <p class="mb-3">В целом, если вы поклонник «Аватара: Легенда об Аанге», вы не захотите пропустить эту высококачественную плюшевую куклу Аанга. Он мягкий, приятный и хорошо сделанный, что делает его идеальным дополнением к любой коллекции игрушек или подарком для другого поклонника.</p>

        </div>
        <div class="row review">
            <div class="col-md-8">
                <h4>Отзывы</h4>
                <div class="row m-0 reviewrow p-3 px-0 border-bottom">
                    <div class="col-md-12 align-items-center col-9 rcolm">
                        <div class="review">
                            <li class="col-8 ratfac">
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </li>
                        </div>
                        <h3 class="fs-6 fw-semi mt-2">
                            Гость

                            <small class="float-end fw-normal"> 3 Июля 2021 </small>
                        </h3>

                        <div class="review-text">
                            Меня поразило качество этой плюшевой куклы Аанга! Внимание к деталям невероятное, она такая мягкая и приятная. Я очень рекомендую ее всем поклонникам «Аватара: Легенда об Аанге»
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>

                <div class="row m-0 reviewrow p-3 px-0 border-bottom">
                    <div class="col-md-12 align-items-center col-9 rcolm">
                        <div class="review">
                            <li class="col-8 ratfac">
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </li>
                        </div>
                        <h3 class="fs-6 fw-semi mt-2">
                            Дмитрий Василиу

                            <small class="float-end fw-normal"> 11 Мая 2022 </small>
                        </h3>

                        <div class="review-text">
                            Эта плюшевая кукла идеального размера для моей книжной полки. Мне нравится вышивка на его одежде — она такая замысловатая и хорошо сделанная. Это определенно высококачественный предмет коллекционирования
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>

                <div class="row m-0 reviewrow px-0">
                    <div class="col-md-12 align-items-center col-9 rcolm">
                        <div class="review">
                            <li class="col-8 ratfac">
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi text-warning bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </li>
                        </div>
                        <h3 class="fs-6 fw-semi mt-2">
                            Марк-Августин Степаненко

                            <small class="float-end fw-normal"> 21 Августа 2021 </small>
                        </h3>

                        <div class="review-text">
                            Я купил эту плюшевую куклу Аанга для своей дочери, и ей она очень нравится. Она мягкая, милая и хорошо сделана. Она всегда носит ее с собой, куда бы она ни пошла!
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



